#todo-error{
  color: red;
  font-size: 2em;
}
body {
  height: 100%;
  text-shadow: -6px -6px 3px black;
  text-shadow: 1px 1px 8px black;
}

.text-color{
  color: white;
}

#bg-image{
  background-repeat: no-repeat;
  background-size: cover;
}